<div class="d-flex justify-content-center p-3">
  <div class="btn-group" role="group" aria-label="Navegación Principal">
    <%= link_to "Owners", owners_path, class: "btn btn-primary" %>
    <%= link_to "Pets", pets_path, class: "btn btn-primary" %>
    <%= link_to "Vets", vets_path, class: "btn btn-primary" %>
    <%= link_to "Appointments", appointments_path, class: "btn btn-primary" %>
  </div>
</div>
<div class = "conteiner"> 
<div class="d-flex justify-content-center">
<table class="table table-striped table-hover table-bordered text-center w-75">
  <thead>
    <tr>
      <th>First_name</th>
      <th>Last_name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= link_to owner.first_name, owner_path(owner) %></td>
        <td><%= owner.last_name %></td>
        <td><%= owner.email %></td>
        <td><%= owner.phone %></td>
        <td><%= owner.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>