<div class = "conteiner"> 
<table border="1">
  <thead>
    <tr>
      <th>First_name</th>
      <th>Last_name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td>
          <%= link_to owner.first_name, owner_path(owner) %>
        </td>
        <td><%= owner.last_name %></td>
        <td><%= owner.email %></td>
        <td><%= owner.phone %></td>
        <td><%= owner.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>