<div class="d-flex justify-content-center p-3">
  <div class="btn-group" role="group" aria-label="Navegación Principal">
    <%= link_to "Owners", owners_path, class: "btn btn-primary" %>
    <%= link_to "Pets", pets_path, class: "btn btn-primary" %>
    <%= link_to "Vets", vets_path, class: "btn btn-primary" %>
    <%= link_to "Appointments", appointments_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="d-flex align-items-center gap-3 justify-content-center"> 
<h2><strong>First Name:</strong><%= @owner.first_name %></h1>
<h2><strong>Last Name:</strong><%= @owner.last_name %></h1>
<h3><strong>Email:</strong><%= @owner.email %></h1>
<h3><strong>Phone:</strong><%= @owner.phone %></h1>
<h3><strong>Address:</strong><%= @owner.address %></h1>
</div>

<div class = "conteiner"> 
<div class="d-flex justify-content-center">
<table class="table table-striped table-hover table-bordered text-center w-75">
  <thead>
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Breed</th>
      <th>Date_of_birth</th>
      <th>Weight</th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <td>
          <%= link_to pet.name, pet_path(pet) %>
        </td>
        <td><%= pet.species %></td>
        <td><%= pet.breed %></td>
        <td><%= pet.date_of_birth.strftime("%B %d, %Y") %></td>
        <td><%= pet.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>