<div class="d-flex justify-content-center p-3">
  <div class="btn-group" role="group" aria-label="Navegación Principal">
    <%= link_to "Owners", owners_path, class: "btn btn-primary" %>
    <%= link_to "Pets", pets_path, class: "btn btn-primary" %>
    <%= link_to "Vets", vets_path, class: "btn btn-primary" %>
    <%= link_to "Appointments", appointments_path, class: "btn btn-primary" %>
  </div>
</div>
<div class = "conteiner"> 
<div class="d-flex justify-content-center">
<table class="table table-striped table-hover table-bordered text-center w-75">
  <thead>
    <tr>
      <th>Appointment_ID</th>
      <th>Pet_ID</th>
      <th>Vet_ID</th>
      <th>Date</th>
      <th>Reason</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td>
          <%= link_to appointment.id, appointment_path(appointment.id) %>
        </td>
        <td>
          <%= link_to appointment.pet_id, pet_path(appointment.pet_id) %>
        </td>
        <td>
          <%= link_to appointment.vet_id, vet_path(appointment.vet_id) %>
        </td>
        <td><%= appointment.date.strftime("%B %d, %Y") %></td>
        <td><%= appointment.reason %></td>
        <td><%= appointment.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>